doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title 
        script(src="https://unpkg.com/htmx.org@2.0.4")
    body 
        header 
            nav 
                a(href="/" hx-get="/" hx-target="main" hx-select="main") HOME |
                a(href="/about" hx-get="/about" hx-target="main" hx-select="main") ABOUT |
                a(href="/bands" hx-get="/bands" hx-target="main" hx-select="main") BANDS
        main 
            block content 